- var scripts = []
- scripts.push('constants')
- scripts.push('example-app.module')
- scripts.push('example-app.controller')

- scripts.push('ap-file-upload.module')
- scripts.push('templates')

- scripts.push('uploader.service')
- scripts.push('file.service')

- scripts.push('on-file-change.directive')
- scripts.push('uploader.directive')
- scripts.push('uploader.controller')
- scripts.push('file.directive')
- scripts.push('file.controller')

- var bowers = []
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-auth/dist/main')
- bowers.push('auth0.js/build/auth0')
- bowers.push('auth0-angular/build/auth0-angular')
- bowers.push('a0-angular-storage/dist/angular-storage')
- bowers.push('angular-jwt/dist/angular-jwt')

- var cssPaths   = ['uploader']
- var landscapes = []
- var desktops   = []

doctype html
html(ng-app="example-app", ng-controller="ExampleAppController as vm")
  head
    script(type="text/javascript", src="/bower_components/sinon/index.js")
    script(type="text/javascript", src="/bower_components/auto-config-fake-server/dist/auto-config-fake-server.js")
    script(type="text/javascript").
      AutoConfigFakeServer.init();
      AutoConfigFakeServer.fakeServer.autoRespond = true;
      schemas = [
      ];
      AutoConfigFakeServer.consume(schemas);
      
    title File Uploader

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    each path in cssPaths
      link(href="styles/#{path}.css", rel="stylesheet")

    each path in landscapes
      link(href="styles/#{path}.landscape.css", rel="stylesheet", media="(min-width: 568px)")

    each path in desktops
      link(href="styles/#{path}.desktop.css", rel="stylesheet", media="(min-width: 767px)")

  body

    form(ng-hide="vm.authenticated", ng-submit="vm.login(this)")
      input(type="text", name="username", placeholder="username", ng-model="vm.username")
      input(type="password", name="password", placeholder="password", ng-model="vm.password")
      button(type="submit") Login

    | {{ vm.uploaderStatus }}
    
    ap-uploader(
      config="vm.uploaderSingleConfig",
      status="vm.uploaderSingleStatus"
    )
    
    ap-uploader(
      config="vm.uploaderMultipleConfig",
      status="vm.uploaderMultipleStatus"
    )
    
    each path in bowers
      script(src="bower_components/#{path}.js", type="text/javascript")

    each path in scripts
      script(src="scripts/#{path}.js", type="text/javascript")
